# 训练集生成部分csr_trainData

In [1]:
import numpy as np
import pandas as pd

In [2]:
user_actived = pd.read_csv(r'../data/user_app_actived.csv',header=None)
user_actived.shape

(2512500, 2)

In [3]:
user_actived.head()

         0                                                  1
0  1000008  a00105157#a00109386#a00134746#a0013952#a001451...
1  1000010  a00102782#a00107077#a00109386#a00134746#a00136...
2  1000011  a00158535#a00163116#a00170432#a00187480#a00224...
3  1000013  a00109386#a0011601#a0012768#a00136287#a0014516...
4  1000014  a00109386#a0011894#a0013059#a00134840#a0013578...

In [4]:
appList = {}
for user in user_actived.values:
    for app in user[1].split('#'):
        if app!='\\N':
            if app not in appList.keys():
                appList[app] = 0
#                 print(len(appList))

In [5]:
age_train = pd.read_csv(r'../data/age_train.csv',header=None)
age = age_train[1]
age_train.head()

         0  1
0  1000001  4
1  1000011  3
2  1000015  5
3  1000019  3
4  1000023  2

In [6]:
user_row = {}
i=0
for user in age_train.values:
    user_row[user[0]] = i
    i += 1
len(user_row) #一共有2010000行

2010000

In [7]:
trainData = pd.merge(age_train,user_actived,how='inner',on=0)
trainData.shape

(2010000, 3)

In [8]:
trainData.drop(columns=['1_x'],inplace=True,axis=1)
trainData.head()

         0                                                1_y
0  1000001  a00140327#a00170298#a00184278#a00187480#a00239...
1  1000011  a00158535#a00163116#a00170432#a00187480#a00224...
2  1000015  a00109386#a00170432#a0021880#a00244790#a002475...
3  1000019                                a00157060#a00274701
4  1000023  a00170298#a00203358#a00275200#a00278905#a00289...

In [9]:
all_user_app = []
user_app = []
batch_size, i=1000,0
for user in trainData.values:
#     print(i)
    i += 1
    for app in user[1].split('#'):
        if app!='\\N':
            # [uId,appId,trainRow]
            user_app.append(user[0])
            user_app.append(app)
            user_app.append(user_row[user[0]])
            all_user_app.append(user_app)
            user_app = []
    if i == batch_size:
        all_user_app = pd.DataFrame(all_user_app)
        all_user_app.to_csv(r'../processed/user_app_train.csv',header=None,index=False,mode='a')
        all_user_app = []
        i= 0

In [10]:
all_user_app = pd.DataFrame(all_user_app)
all_user_app.to_csv(r'../processed/user_app_train.csv',header=None,index=False,mode='a')
all_user_app = []

In [11]:
user_oneapp = pd.read_csv(r'../processed/user_app_train.csv',header=None)
print(user_oneapp.shape)
print(user_oneapp.head())

(81430336, 3)
         0          1  2
0  1000001  a00140327  0
1  1000001  a00170298  0
2  1000001  a00184278  0
3  1000001  a00187480  0
4  1000001  a00239194  0

In [12]:
user_oneapp[0].value_counts()

3164162    888
2302802    879
2336718    788
1272000    729
2330365    641
3335430    455
3126464    425
2961237    411
2236225    394
1534093    393
1930761    391
2631602    376
3446850    372
3423788    360
2636575    357
3332406    352
3498641    343
1152634    340
2196452    339
3474711    335
1808338    334
1806002    324
3020169    314
2349007    312
2758264    310
2931701    306
1375993    306
3220886    305
2389986    304
1994431    303
          ...
2244058      1
1972413      1
1790759      1
1421840      1
2902682      1
1927146      1
1711165      1
2558827      1
2469909      1
1507700      1
1920188      1
1928978      1
2238415      1
1788132      1
1281514      1
3178610      1
2155989      1
2160449      1
2743796      1
1231132      1
2028913      1
2773594      1
1557640      1
1122730      1
3014400      1
3160870      1
3460568      1
1785413      1
1806668      1
2859971      1
Name: 0, Length: 2007016, dtype: int64

In [13]:
user_oneapp[1].value_counts()

a00289791    1871244
a0048467     1670213
a00287085    1635840
a00109386    1606028
a00289826    1539363
a00311680    1357829
a0021880     1308403
a00244790    1295782
a0046242     1174456
a00170432    1135763
a00261220    1029708
a0048562      990818
a00290015     966082
a00278905     918023
a00271087     892561
a00247519     877745
a00289850     797307
a00145168     738735
a00348507     673848
a00290027     663263
a00278858     658261
a00289519     648931
a0048522      648385
a0071100      641478
a00289511     617449
a00263057     612070
a00373197     610785
a00187480     578765
a00157201     567064
a00289866     557965
              ...
a00115836          4
a0081557           3
a0097497           3
a00128927          3
a00282547          3
a00215699          3
a00161952          3
a00216321          3
a00215534          3
a0038270           3
a00117775          3
a0080944           3
a00207710          3
a00294809          3
a00270235          2
a00445708          2
a00171281          2
a00471278          2
a00216249          2
a00229848          2
a00465536          2
a00140477          1
a00254405          1
a00128441          1
a00223894          1
a00232931          1
a00209087          1
a00467328          1
a00289133          1
a00196203          1
Name: 1, Length: 9399, dtype: int64

In [14]:
from sklearn.preprocessing import LabelEncoder

In [15]:
len(appList)

9400

In [16]:
appencoder = LabelEncoder().fit(list(appList.keys()))
user_oneapp[1] = appencoder.transform(user_oneapp[1])
user_oneapp.head()

         0     1  2
0  1000001   916  0
1  1000001  1874  0
2  1000001  2192  0
3  1000001  2292  0
4  1000001  3844  0

In [17]:
important_app = pd.read_csv(r'../processed/importance_app_inActivate.csv',header=None)
print(important_app.shape)
print(important_app.head())

(4000, 1)
           0
0  a00224427
1  a00292780
2  a00292472
3  a00481059
4  a00278905

In [18]:
important_app_rowIndex = appencoder.transform(important_app[0].values)
important_app_rowIndex[range(10)]

array([3377, 5402, 5389, 8045, 4939, 5303, 5306, 5212, 5269, 4828])

In [19]:
important_app_rowIndex = pd.DataFrame(important_app_rowIndex)
important_app_rowIndex.to_csv(r'../processed/important_app_rowIndex.csv',header=None,index=False)

In [20]:
from scipy.sparse import csr_matrix, hstack

In [21]:
csr_trainData = csr_matrix((np.ones(user_oneapp.shape[0]),(user_oneapp[2],user_oneapp[1])),shape=(2010000,9400))
csr_trainData.shape

(2010000, 9400)

In [22]:
from scipy import sparse

In [23]:
sparse.save_npz(r'../trainTestData/trainData9400.npz',csr_trainData)

In [24]:
csr_trainData = sparse.csr_matrix(csr_trainData[:,important_app_rowIndex[0].values])
print(csr_trainData.shape)

(2010000, 4000)

In [25]:
sparse.save_npz(r'../trainTestData/trainData4000.npz',csr_trainData)

# 测试集生成部分csr_testData

In [26]:
import numpy as np
import pandas as pd

In [27]:
user_actived = pd.read_csv(r'../data/user_app_actived.csv',header=None)
user_actived.shape

(2512500, 2)

In [28]:
user_actived.head()

         0                                                  1
0  1000008  a00105157#a00109386#a00134746#a0013952#a001451...
1  1000010  a00102782#a00107077#a00109386#a00134746#a00136...
2  1000011  a00158535#a00163116#a00170432#a00187480#a00224...
3  1000013  a00109386#a0011601#a0012768#a00136287#a0014516...
4  1000014  a00109386#a0011894#a0013059#a00134840#a0013578...

In [29]:
appList = {}
for user in user_actived.values:
    for app in user[1].split('#'):
        if app!='\\N':
            if app not in appList.keys():
                appList[app] = 0
#                 print(len(appList))

In [30]:
age_test = pd.read_csv(r'../data/age_test.csv',header=None)
age_test.head()

         0
0  1000002
1  1000003
2  1000004
3  1000005
4  1000006

In [31]:
user_row = {}
i=0
for user in age_test.values:
    user_row[user[0]] = i
    i += 1
len(user_row) #一共有502500行

502500

In [32]:
testData = pd.merge(age_test,user_actived,how='inner',on=0)
testData.shape

(502500, 2)

In [33]:
all_user_app = []
user_app = []
batch_size, i=1000,0
for user in testData.values:
#     print(i)
    i += 1
    for app in user[1].split('#'):
        if app!='\\N':
            # [uId,appId,trainRow]
            user_app.append(user[0])
            user_app.append(app)
            user_app.append(user_row[user[0]])
            all_user_app.append(user_app)
            user_app = []
    if i == batch_size:
        all_user_app = pd.DataFrame(all_user_app)
        all_user_app.to_csv(r'../processed/user_app_test.csv',header=None,index=False,mode='a')
        all_user_app = []
        i = 0

In [34]:
all_user_app = pd.DataFrame(all_user_app)
all_user_app.to_csv(r'../processed/user_app_test.csv',header=None,index=False,mode='a')
all_user_app = []

In [35]:
user_oneapp = pd.read_csv(r'../processed/user_app_test.csv',header=None)
print(user_oneapp.shape)
print(user_oneapp.head())

(20369112, 3)
         0          1  2
0  1000002  a00109386  0
1  1000002   a0011759  0
2  1000002  a00120252  0
3  1000002  a00120564  0
4  1000002  a00122966  0

In [36]:
user_oneapp[0].value_counts()

1451518    851
1008159    745
1157842    652
1587605    467
1734351    316
1025748    298
1520168    297
1337567    296
2183012    277
1743533    277
1556159    274
1520460    272
1185742    271
1407205    270
1396563    269
2167331    268
1188479    268
1146641    265
1166146    263
1054561    263
1458209    262
1407140    261
1461195    255
1353436    250
1112013    245
2196808    244
2339676    242
1163282    240
1721118    240
1277904    238
          ...
1464424      1
1415001      1
1186888      1
1480063      1
2299873      1
1743853      1
1280826      1
1827742      1
1835948      1
1350193      1
1259778      1
1456289      1
1957794      1
1515142      1
1644150      1
1040205      1
1154424      1
1018880      1
1289471      1
1949744      1
1164633      1
1359004      1
1318361      1
1693776      1
1824664      1
1290062      1
1657445      1
2328493      1
1369171      1
1353330      1
Name: 0, Length: 501746, dtype: int64

In [37]:
user_oneapp[1].value_counts()

a00289791    467804
a0048467     417478
a00287085    409432
a00109386    401047
a00289826    384567
a00311680    339772
a0021880     326738
a00244790    323819
a0046242     293673
a00170432    284755
a00261220    258020
a0048562     248653
a00290015    241819
a00278905    230093
a00271087    223144
a00247519    220083
a00289850    199943
a00145168    185310
a00348507    168644
a00290027    166052
a00278858    165110
a00289519    161992
a0048522     161817
a0071100     160892
a00289511    154297
a00373197    153226
a00263057    152902
a00187480    144693
a00157201    142390
a00289866    139588
              ...
a00171282         1
a00270236         1
a00465536         1
a00216683         1
a00477412         1
a00209103         1
a00229816         1
a00128927         1
a0040316          1
a00215699         1
a00196203         1
a00294802         1
a00283922         1
a00171284         1
a00207710         1
a00254405         1
a00476594         1
a0038705          1
a00262310         1
a00125784         1
a00445708         1
a00467328         1
a007650           1
a00471278         1
a00115836         1
a00295833         1
a00294809         1
a00283933         1
a0050878          1
a00447605         1
Name: 1, Length: 9372, dtype: int64

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:
len(appList)

9400

In [40]:
appencoder = LabelEncoder().fit(list(appList.keys()))
user_oneapp[1] = appencoder.transform(user_oneapp[1])
user_oneapp.head()

         0    1  2
0  1000002  215  0
1  1000002  348  0
2  1000002  435  0
3  1000002  452  0
4  1000002  525  0

In [41]:
from scipy.sparse import csr_matrix, hstack

In [42]:
csr_testData = csr_matrix((np.ones(user_oneapp.shape[0]),(user_oneapp[2],user_oneapp[1])),shape=(502500,9400))
csr_testData.shape

(502500, 9400)

In [43]:
from scipy import sparse

In [44]:
sparse.save_npz(r'../trainTestData/testData9400.npz',csr_testData)

In [45]:
csr_testData = sparse.csr_matrix(csr_testData[:,important_app_rowIndex[0].values])
print(csr_testData.shape)

(502500, 4000)

In [46]:
sparse.save_npz(r'../trainTestData/testData4000.npz',csr_testData)